@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/poppins-v23-latin-300.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v23-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v23-latin-600.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/poppins-v23-latin-900.woff2') format('woff2');
}

:root{
    --main-green-dark:#819B57;
    --main-green-light: #FAF4EA;
    --all-text: #31261A;
    --h2-span: #465929;
    --copyright: #A18268;  
    --psevdo-line:#cfcfbc;
    --secondary: #a18268;
}

*, ::before, ::after{
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p{
    margin-top: 0;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h2{
    font-weight: 900;
    font-size: 64px;     
}

h2 span{
    color: var(--h2-span);
}

h3{
    font-size: 40px;
    font-weight: 400;
    line-height: 100%;

}

h4{
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    color: var(--main-green-light);
}

body{
    background-color:var(--main-green-light);
    color: var(--all-text);
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
}

.container{
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 24px;
}

.hero-text-section-1 h1{
    color: var(--main-green-light);
    text-align: center;
    font-weight: 900;   
    font-size: 128px;
    padding: 272px 0;
    margin-bottom: 0;
    background-image: url(../images/main-photo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header-container{
    display: flex;
    gap: 40px;
}

.header-nav-flex{
    display: flex;
    flex-grow: 1;
    gap: 40px;
}

.hero-text-section-1 span{
    color: var(--main-green-dark);
   
}
.section{
    padding: 48px 0;
}

.section-1{
    background-color: var(--main-green-dark);
    padding: 16px 0;
}

.traditions-section{
    padding-top: 96px;
}

.flex-section-2{
    display: flex;
    gap: 100px;
}

.cheff-images{
    border-radius: 4px 4px 4px 200px;
    box-shadow: -16px 16px 0 0 var(--main-green-light), 
                -16px 16px 0 2px var(--secondary)
}

.new-format{
    margin-bottom: 42px;
}


.section-3-h2-margin-botom{
    position: relative;
    margin:0 auto 80px;
    max-width: 540px;
    text-align: center;
    
}

.section-3-psevdo-element::before{
    position: absolute;
    left: -360px;
    bottom: 24px;
    display: block;
    width: 352px;
    border: 2px solid var(--psevdo-line);
    content: '';

}

.section-3-psevdo-element::after {
    position: absolute;
    right: -360px;
    bottom: 24px;
    display: block;
    width: 352px;
    border: 2px solid var(--psevdo-line);
    content: '';

}

.section-4-h2-margin-botom {
    margin-bottom: 80px;
    text-align: center;
}

.section-4-h2-mar-bot{
    margin-bottom: 16px;
}

.top-menu-flex{
    display: flex;
    justify-content: center;
    gap: 64px;
    flex-grow: 1;
    align-items: center;
}



.top-and-footer-menu a {
    color: var(--main-green-light);
    text-decoration: none;
}

.top-and-footer-menu a:hover {
    color: var(--main-green-dark);
    /* font-weight: 600; */

}

.call-button {
    background-color: var(--main-green-dark);
    color: var(--main-green-light);
    border: 2px solid var(--main-green-dark);
    border-radius: 8px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    padding: 16px 32px;
}

.call-button:active {
    background-color: transparent;
    color: var(--main-green-dark);
    font-weight: 600;
}


.top-section-2 {    
    display: flex;
    justify-content: space-between;
    gap: 40px;
    color: var(--main-green-light);
    font-weight: 300;
    font-size: 20px;
}

.traditions-section-h2-p span{
    color: var(--main-green-dark);
}
.section-2-uppercase{
    text-transform: uppercase;
}

.formats-section-3 p{
    font-weight: 300;
    font-size: 14px;
    line-height: 100%;
    color: var(--main-green-light);
}

.flex-section-3-ul{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    
}

.flex-section-3-ul li{   
    flex-basis: calc((100% - 40px) / 3);    
    border-radius: 10px;
    padding: 24px;
    background-repeat: no-repeat;    
    background-size: cover;
    height: 444px;
    background-image: linear-gradient(180deg,
    rgba(49,38,26,0) 55.21%,
    rgba(49, 38, 26, 0) 72.92%,
    var(--all-text)    
    );    
}

.section-cheff-flex{
    display: flex;
    gap: 30px;
    
}

.cheff-box{
    flex-basis: calc((100% - 30px) / 2);
}

.cheff-flex{
    display: flex;
    gap: 30px;
    
}

.card-with-arrows{
    display: flex;
    gap: 32px;
    align-items: center;
}

.icon-arrow-batton{
    border-radius: 50%;
    border-color: transparent;
    background-color: transparent;
    width: 44px;
    height: 44px;
    
}

.icon-arrow{
    display: inline-block;        
    stroke-width: 2;
    stroke: var(--all-text);
    fill: var(--main-green-light);
}

.icon-arrow:hover {
    display: inline-block;
    stroke-width: 2;
    stroke: var(--main-green-light);
    fill: var(--all-text);
}

.background-format-1{
background-image: url(../images/walrus.jpg);
}

.background-format-2{
    background-image: url(../images/Horseshoe.jpg);
}

.background-format-3 {
    background-image: url(../images/handlebar.jpg);
}

.contact-section{
    padding-bottom: 96px;
}

.section-5-all{
    display: flex;
    gap: 32px;
    flex-basis: calc((100%-32px)/2);
    
}

.text-above-form{
    color: var(--h2-span);
}

.section-5-map{
    flex-shrink: 0;
    border-radius: 16px;
}

.footer{
    position: relative;
    background-image: url(../images/footer.png);
    background-color: var(--all-text);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 32px 0;
}

.footer-flex{
    display: flex;
    justify-content: space-between;
    
}

.agree-field{
    font-size: 12px;
    line-height: 100%;
}

.agree-field span{
 text-decoration: underline;
}

.address{
    font-weight: 300;
    font-size: 16px;
    line-height: 100%;
}

.address a{
    font-weight: 300;
    font-size: 16px;
    line-height: 100%;
}

.copyright{
    color: var(--copyright);
    font-size: 14px;
    line-height: 100%;
}

.social-icons{
    fill: var(--main-green-light);
}

.social-icons-flex{
    display: flex;
    gap: 22px;
}

.social-icons:hover {
    fill: var(--main-green-dark);
}

.footer::before,
.footer::after{
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    content: '';
}


footer::before{
    background-image: url(../images/bread-left.png);
    
    width: 180px;
    height: 120px;
    left: 0;    
}

footer::after {
    background-image: url(../images/bread-right.png);
    width: 378px;
    height: 188px;
    right: 0;    
}

/* ----------------------------modal window------------------------- */

.backdrop{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.backdrop.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal{
    position: relative;
    width: 880px;
    height: 880px;
    background-color: var(--main-green-light);
    border-radius: 32px;

}

.modal-btn-close{
    position: absolute;
    right: 40px;
    top: 40px;
}
